<div style="color: #e6e6e6;">
  <img src="/images/sign_in.jpg" width="100%" height="100%" style="position:fixed; top: 0; z-index: -20;"/>
  <div class="row">
    <h1 class="col-xs-offset-5 col-xs-4">Sign In</h1>
  </div>

  <div class="row">
    <form class="form-group col-xs-offset-5 col-xs-4" action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="input-group">
        <label>Email<br>
          <input id="email" class="form-control" name="user[email]" type="text"><br>
        </label><br>
      </div>

      <div class="input-group">
        <label>Password<br>
          <input id="password" class="form-control" name="user[password]" type="password"><br>
        </label><br>
      </div>

      <input type="submit" value="Submit" class="btn-lg btn-primary"><br>
    </form>
  </div>

  <div class="row">
    <button type="button" id="guest-login" class="btn-lg btn-primary col-xs-offset-5 col-xs-2">Guest Login</button>
  </div>
</div>

<script type="text/javascript">
  $("#guest-login").click(function() {
    $("#email").val("guest@guest.guest");
    $("#password").val("pass");
    $("input[type=submit]").trigger("click");
  });
</script>
