// Place all the styles related to the api/Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.summary-list {
}

.summary-item {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
