// Place all the styles related to the api/Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.profile {
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid black;
}

div.review-body {
  display: inline-block;
  max-width: 80%;
}

#review-form {
  background-color: #f6f6f6;
  overflow: hidden;
  padding-bottom: 20px;
  // min-height: 430px;
  border-radius: 15px;
  box-shadow: -3px -3px 17px;
}
