/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-rating
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   background-color: #f6f6f6;
   position: relative;
 }

 #site-content {
   margin-top: 50px;
    height: 100vh;
 }

 .navbar {
   margin-bottom: 0px;
 }

 .navbar-default {
   background-color: #191919;
   border-color: #fff056;
 }

 .navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
   color: #e2e2e2;
   border-right: 2px solid white;
 }

 .navbar-default .navbar-brand:hover {
   color: #fff056;
 }

.navbar-default .navbar-nav > li > a {
    color: #dacb2c;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #e2e2e2;
    background-color: transparent;
}

 .navbar-default .navbar-text {
   color: #dacb2c;
 }
