/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-rating
 *= require lightbox
 *= require chosen.min
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   background-color: #dfdfdf;
  //  background-image: repeating-linear-gradient(45deg, transparent, transparent
  //                                              35px, rgba(255,255,255,15.5)
  //                                              35px, rgba(255,255,255,.5) 70px);
   position: relative;
   overflow-x: hidden;
 }

 .btn-primary {
   background-color: #191919;
   color: #dacb2c;
   border-color: #0d0d0d;
 }

 .btn-primary:hover {
   background-color: #dacb2c;
   color: #191919;
   border-color: #0d0d0d;
 }

 #site-content {
   margin-top: 50px;
   min-height: 100vh;
   padding-bottom: 65px;
 }

 #site-content:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }

 .footer {
   position: absolute;
   bottom: 0;
   height: 65px;
   margin-top: 20px;
   width:100%;
 }

 .summary-item:hover {
   cursor: pointer;
   border-color: #fff056;
 }

 .navbar {
   margin-bottom: 0px;
 }

 .navbar-default {
   background-color: #191919;
   border-color: #fff056;
 }

 .navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
   color: #e2e2e2;
   border-right: 2px solid white;
 }

 .navbar-default .navbar-brand:hover {
   color: #fff056;
 }

.navbar-default .navbar-nav > li > a {
    color: #dacb2c;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #e2e2e2;
    background-color: transparent;
}

.navbar-default .navbar-text {
 color: #dacb2c;
}
