<div class="row">
  <div class="col-md-7 col-md-offset-1" id="details-view">
  </div>
  <div class="col-md-3" id="business-photos">
    <button type="button" id="cloudinary-widget" class="btn btn-primary">Upload Images</button>
  </div>
</div>



<!-- <script type="text/javascript">
  $(function() {
    $("#cloudinary_widget").cloudinary_upload_widget(CLOUDINARY_OPTIONS,
      function(error, result) {
    });
  })
</script> -->
