<div class="row">
  <div class="col-md-7 col-md-offset-1" id="details-view">
  </div>
  <div class="col-md-3" style="text-align: center;">
    <br> <br>
    <button type="button" id="cloudinary-widget" class="btn btn-primary">Upload Images</button>
    <br> <br>
    <button type="button" id="add-review" class="btn btn-primary">Add a Review</button>
  </div>
</div>

<div style="padding: 55px 0px 55px;"></div>

<div class="reviews-list col-md-6 col-md-offset-1">
</div>

<div class="photos-list col-md-4">
</div>
