<div class="business-photos">
  <a href="#" id="cloudinary_widget" data-business-id="<%= business.escape("id") %>">Upload Images</a>
</div>


<script type="text/javascript">
  $(function() {
    $("#cloudinary_widget").cloudinary_upload_widget(CLOUDINARY_OPTIONS,
      function(error, result) {
    });
  })
</script>
