<div class="row">
  <div class="col-md-7 col-md-offset-1" id="details-view">
  </div>
  <div class="col-md-3">
    <br> <br>
    <button type="button" id="cloudinary-widget" class="btn btn-primary">Upload Images</button>
    <br> <br>
    <button type="button" id="add-review" class="btn btn-primary">Add a Review</button>
  </div>
</div>

<div class="reviews-list col-md-7 col-md-offset-1">
</div>

<div class="photos-list col-md-3 col-md-offset-8">
</div>

<!-- <script type="text/javascript">
  $(function() {
    $("#cloudinary_widget").cloudinary_upload_widget(CLOUDINARY_OPTIONS,
      function(error, result) {
    });
  })
</script> -->
