<label>
  Business name<br>
  <input type="text" name="business[name]" placeholder="Chick-fil-A">
</label>

<label>
  Address<br>
  <input type="text" name="business[address]" placeholder="12345 Sample Road">
</label>

<label>
  
  <input type="button" name="name" value="">
</label>
