<h2 style="text-align:center;">Add your review</h2>
<div id="errors" class="col-md-8 col-md-offset-2 alert alert-danger" role="alert"></div>

<form class="col-xs-12" id="new-review">
  <input type="hidden" name="review[business_id]" value="<%= business.id %>">

  <label>
    <h3>
    Rating:
    <input type="hidden" class="rating-input" name="review[rating]">
  </h3>
  </label>
  <br>
  <label for="desc">
    <h3>Comments:</h3>
  </label>
  <textarea id="desc" class="form-control" name="review[description]" rows="8"></textarea>

  <br>
  <input type="submit" value="Submit" class="btn btn-primary">
  <button type="button" class="cancel-button btn btn-default">Cancel</button>
</form>

<script type="text/javascript">
  $(function() {
    $(".rating-input").rating();
  });
</script>
