<div class="jumbotron">
  <div class="container">
    <h1 class="col-md-offset-3">Welcome to pleY</h1>
    <p>
      <a href="https://github.com/robinwu9000/capstone-pley" class="col-md-offset-3">
        aka a Yelp clone
      </a>
    </p>
  </div>
</div>

<div class="business-list">
</div>
